<a href="https://colab.research.google.com/github/TheTrueJACKSONIAN/theJACKSONIAN/blob/master/Hamoye_Internship_Stage2_Quiz_Ogbonna_Jackson_Ajah.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn import model_selection
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt

In [ ]:
raw_data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv')
raw_data

                      date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0      2016-01-11 17:00:00          60      30  ...   5.300000  13.275433  13.275433
1      2016-01-11 17:10:00          60      30  ...   5.200000  18.606195  18.606195
2      2016-01-11 17:20:00          50      30  ...   5.100000  28.642668  28.642668
3      2016-01-11 17:30:00          50      40  ...   5.000000  45.410389  45.410389
4      2016-01-11 17:40:00          60      40  ...   4.900000  10.084097  10.084097
...                    ...         ...     ...  ...        ...        ...        ...
19730  2016-05-27 17:20:00         100       0  ...  13.333333  43.096812  43.096812
19731  2016-05-27 17:30:00          90       0  ...  13.300000  49.282940  49.282940
19732  2016-05-27 17:40:00         270      10  ...  13.266667  29.199117  29.199117
19733  2016-05-27 17:50:00         420      10  ...  13.233333   6.322784   6.322784
19734  2016-05-27 18:00:00         430      10  ...  13.200000  34.118851  34.118851

[19735 rows x 29 columns]

In [ ]:
raw_data.columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [ ]:
column_dict = {'date':'date', 'Appliances':'Appliances', 'lights':'lights', 'T1':'kitchen_temp', 'RH_1':'kitchen_humidity', 'T2':'livingRm_temp', 'RH_2':'livingRm_humidity',
               'T3':'laundryRm_temp', 'RH_3':'laundryRm_humidity', 'T4':'officeRm_temp', 'RH_4':'officeRm_humidity', 'T5':'bathroom_temp', 'RH_5':'bathroom_humidity',
               'T6':'outside_temp(ns)', 'RH_6':'outside_humidity(ns)', 'T7':'ironingRm_temp', 'RH_7':'ironingRm_humidity',
               'T8':'teenRm2_temp', 'RH_8':'teenRm2_humidity', 'T9':'parentsRm_temp', 'RH_9':'parentsRm_humidity', 'T_out':'outside_temp(chievres)', 'Press_mm_hg':'outsidePres(chievres)_mmHhg', 'RH_out':'outside_humidity(chievres)',
               'Windspeed':'windspeed(chievres)', 'Visibility':'visibility(chievres)', 'Tdewpoint':'Tdewpt(chievres)', 'rv1':'randvar1', 'rv2':'randvar2'}

data_col_renamed = raw_data.copy()
data_col_renamed = data_col_renamed.rename(columns = column_dict)
data_col_renamed

                      date  Appliances  ...   randvar1   randvar2
0      2016-01-11 17:00:00          60  ...  13.275433  13.275433
1      2016-01-11 17:10:00          60  ...  18.606195  18.606195
2      2016-01-11 17:20:00          50  ...  28.642668  28.642668
3      2016-01-11 17:30:00          50  ...  45.410389  45.410389
4      2016-01-11 17:40:00          60  ...  10.084097  10.084097
...                    ...         ...  ...        ...        ...
19730  2016-05-27 17:20:00         100  ...  43.096812  43.096812
19731  2016-05-27 17:30:00          90  ...  49.282940  49.282940
19732  2016-05-27 17:40:00         270  ...  29.199117  29.199117
19733  2016-05-27 17:50:00         420  ...   6.322784   6.322784
19734  2016-05-27 18:00:00         430  ...  34.118851  34.118851

[19735 rows x 29 columns]

In [ ]:
data_col_renamed.describe()

         Appliances        lights  ...      randvar1      randvar2
count  19735.000000  19735.000000  ...  19735.000000  19735.000000
mean      97.694958      3.801875  ...     24.988033     24.988033
std      102.524891      7.935988  ...     14.496634     14.496634
min       10.000000      0.000000  ...      0.005322      0.005322
25%       50.000000      0.000000  ...     12.497889     12.497889
50%       60.000000      0.000000  ...     24.897653     24.897653
75%      100.000000      0.000000  ...     37.583769     37.583769
max     1080.000000     70.000000  ...     49.996530     49.996530

[8 rows x 28 columns]

In [ ]:
data_no_date_lights = data_col_renamed.copy()
data_no_date_lights = data_no_date_lights.drop(columns = ['date','lights'])
data_no_date_lights

       Appliances  kitchen_temp  ...   randvar1   randvar2
0              60     19.890000  ...  13.275433  13.275433
1              60     19.890000  ...  18.606195  18.606195
2              50     19.890000  ...  28.642668  28.642668
3              50     19.890000  ...  45.410389  45.410389
4              60     19.890000  ...  10.084097  10.084097
...           ...           ...  ...        ...        ...
19730         100     25.566667  ...  43.096812  43.096812
19731          90     25.500000  ...  49.282940  49.282940
19732         270     25.500000  ...  29.199117  29.199117
19733         420     25.500000  ...   6.322784   6.322784
19734         430     25.500000  ...  34.118851  34.118851

[19735 rows x 27 columns]

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
data_normalized = pd.DataFrame(scaler.fit_transform(data_no_date_lights), columns = data_no_date_lights.columns)
data_normalized

       Appliances  kitchen_temp  ...  randvar1  randvar2
0        0.046729      0.327350  ...  0.265449  0.265449
1        0.046729      0.327350  ...  0.372083  0.372083
2        0.037383      0.327350  ...  0.572848  0.572848
3        0.037383      0.327350  ...  0.908261  0.908261
4        0.046729      0.327350  ...  0.201611  0.201611
...           ...           ...  ...       ...       ...
19730    0.084112      0.926786  ...  0.861981  0.861981
19731    0.074766      0.919747  ...  0.985726  0.985726
19732    0.242991      0.919747  ...  0.583979  0.583979
19733    0.383178      0.919747  ...  0.126371  0.126371
19734    0.392523      0.919747  ...  0.682391  0.682391

[19735 rows x 27 columns]

In [ ]:
data_features = data_normalized.drop(columns = ['Appliances'])
data_features

       kitchen_temp  kitchen_humidity  ...  randvar1  randvar2
0          0.327350          0.566187  ...  0.265449  0.265449
1          0.327350          0.541326  ...  0.372083  0.372083
2          0.327350          0.530502  ...  0.572848  0.572848
3          0.327350          0.524080  ...  0.908261  0.908261
4          0.327350          0.531419  ...  0.201611  0.201611
...             ...               ...  ...       ...       ...
19730      0.926786          0.537657  ...  0.861981  0.861981
19731      0.919747          0.536006  ...  0.985726  0.985726
19732      0.919747          0.538666  ...  0.583979  0.583979
19733      0.919747          0.549491  ...  0.126371  0.126371
19734      0.919747          0.538758  ...  0.682391  0.682391

[19735 rows x 26 columns]

In [ ]:
simple_linear_reg_df = data_features[['livingRm_temp', 'outside_temp(ns)']]
simple_linear_reg_df

       livingRm_temp  outside_temp(ns)
0           0.225345          0.381070
1           0.225345          0.375443
2           0.225345          0.367487
3           0.225345          0.363800
4           0.225345          0.361859
...              ...               ...
19730       0.711655          0.898317
19731       0.701769          0.880852
19732       0.692651          0.864260
19733       0.677054          0.829525
19734       0.666171          0.788580

[19735 rows x 2 columns]

In [ ]:
ar1 = np.array(data_features['livingRm_temp']).reshape(-1,1)
ar2 = np.array(data_features['outside_temp(ns)']).reshape(-1,1)

x_trainer, x_tester, y_trainer, y_tester = train_test_split(ar1, ar2, test_size = 0.3, random_state = 42)

linReg = LinearRegression()
linReg.fit(ar1, ar2)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
data_features['outside_temp(ns)']

0        0.381070
1        0.375443
2        0.367487
3        0.363800
4        0.361859
           ...
19730    0.898317
19731    0.880852
19732    0.864260
19733    0.829525
19734    0.788580
Name: outside_temp(ns), Length: 19735, dtype: float64

In [ ]:
data_target = data_normalized['Appliances']
data_target

0        0.046729
1        0.046729
2        0.037383
3        0.037383
4        0.046729
           ...
19730    0.084112
19731    0.074766
19732    0.242991
19733    0.383178
19734    0.392523
Name: Appliances, Length: 19735, dtype: float64

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(data_features, data_target, test_size = 0.3, random_state = 42)

In [ ]:
linear_reg = LinearRegression()
linear_reg.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
ridge_reg = Ridge(alpha = 0.4)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [ ]:
lasso_reg = Lasso(alpha = 0.001, max_iter = 2000)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=2000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [ ]:
elnet_reg = ElasticNet(alpha = 0.00001, l1_ratio = 1.0)
elnet_reg.fit(x_train, y_train)

ElasticNet(alpha=1e-05, copy_X=True, fit_intercept=True, l1_ratio=1.0,
           max_iter=1000, normalize=False, positive=False, precompute=False,
           random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

In [ ]:
#comparing the effects of regularisation
def get_weights_df(model, feat, col_name):
  #this function returns the weight of every feature
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df

In [ ]:
linear_reg_weights = get_weights_df(linear_reg, x_train, 'Linear_Weights')
ridge_reg_weights = get_weights_df(ridge_reg, x_train, 'Ridge_Weights')
lasso_reg_weights = get_weights_df(lasso_reg, x_train, 'Lasso_Weights')
elasticNet_reg_weights = get_weights_df(elnet_reg, x_train, 'ElasticNet_Weights')

In [ ]:
weights_data0 = pd.merge(linear_reg_weights, ridge_reg_weights, on='Features')
weights_data1 = pd.merge(weights_data0, lasso_reg_weights, on = 'Features')
weights_data = pd.merge(weights_data1,  elasticNet_reg_weights, on = 'Features')
weights_data

                       Features  ...  ElasticNet_Weights
0             livingRm_humidity  ...           -0.415696
1        outside_temp(chievres)  ...           -0.203818
2                 livingRm_temp  ...           -0.203776
3                parentsRm_temp  ...           -0.182601
4              teenRm2_humidity  ...           -0.158275
5    outside_humidity(chievres)  ...           -0.026659
6            ironingRm_humidity  ...           -0.041139
7            parentsRm_humidity  ...           -0.038487
8                 bathroom_temp  ...           -0.019311
9                  kitchen_temp  ...           -0.009635
10                     randvar1  ...            0.001372
11                     randvar2  ...            0.000000
12  outsidePres(chievres)_mmHhg  ...            0.006480
13               ironingRm_temp  ...            0.003378
14         visibility(chievres)  ...            0.011410
15            bathroom_humidity  ...            0.015776
16            officeRm_humidity  ...            0.018514
17                officeRm_temp  ...            0.022335
18          windspeed(chievres)  ...            0.030817
19         outside_humidity(ns)  ...            0.031862
20           laundryRm_humidity  ...            0.090381
21                 teenRm2_temp  ...            0.099482
22             Tdewpt(chievres)  ...            0.043811
23             outside_temp(ns)  ...            0.207525
24               laundryRm_temp  ...            0.283019
25             kitchen_humidity  ...            0.536597

[26 rows x 5 columns]

In [ ]:
linear_prediction = linear_reg.predict(x_test)
ridge_prediction = ridge_reg.predict(x_test)
lasso_prediction = lasso_reg.predict(x_test)
elnet_prediction = elnet_reg.predict(x_test)

In [ ]:
linReg_Quiz = linReg.predict(x_tester)

In [ ]:
def performancePrinter(model_prediction):
  print('MAE:', np.sqrt(mean_squared_error(y_test, model_prediction)),'R2_score: ', r2_score(y_test, model_prediction))

In [ ]:
performancePrinter(linReg_Quiz)

MAE: 0.36247609626885685 R2_score:  -13.600863718166416

In [ ]:
rss = ((y_tester - linReg_Quiz)**2).sum()
rss

66.11205721718511

In [ ]:
from sklearn.metrics import mean_squared_error
rmse = sqrt(mean_squared_error(y_tester, linReg_Quiz))

print(rmse)

0.10566783397116133

# New Section

# New Section

# New Section

In [ ]:
rmse2 = sqrt(mean_squared_error(y_test, ridge_prediction))
print(rmse2)

0.08753385704628003

In [ ]:
rmseLasso = sqrt(mean_squared_error(y_test, lasso_prediction))
print(rmseLasso)

0.0882607380340002

In [ ]:
linReg.coef_

array([[0.89097447]])

In [ ]:
performancePrinter(linear_prediction)

MAE: 0.0875144494766171 R2_score:  0.14890246319303535

In [ ]:
performancePrinter(ridge_prediction)

MAE: 0.08753385704628003 R2_score:  0.14852493545092593

In [ ]:
performancePrinter(lasso_prediction)

MAE: 0.0882607380340002 R2_score:  0.13432492607212543

In [ ]:
performancePrinter(elnet_prediction)

MAE: 0.08753876814762666 R2_score:  0.148429388475523